@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="f-row responsive">
        <div class="f-col-1">
            <h2>A brief history</h2>
            <p>I was born in Boise, Idaho in the late 90's to a family of seven. Since I was a kid I've been a huge enthusiast of the Nintendo 64, eventually crawling up the system ladder to PC gaming. I've always been interested in computers, throughout highschool I took every computer class I could get my hands on. Eventually I realized that I wanted my career to include this passion, so I moved to Portland, Oregon and started going to school at Epicodus. My interest in computers has yet to cease, as I'm always trying to find unique and effective ways to improve either the hardware or an application.</p>
        </div>
    </div>
    <hr />
    <div class="f-row responsive">
        <div class="f-col-1">
            <h2>Games</h2>
            <p>During my full-time enrollment at Epicodus, most of my free time has been dedicated to building games in Unity3D. Currently, I have a demo for Luminescence, an OpenWebGL game that will soon be exported to mobile Apple devices. I also have The Seven, a story-driven game about a lonely wanderer set adrift in space, however it is still in heavy development.  </p>
        </div>
        <div class="f-col-1">
            <h2>Web</h2>
            <p>Probably one of the most exciting and dynamic parts about software programming, web development has an amazing amount of opportunities for people to show off their creative aspect. Personally, dealing with SQL databases and .NET have allowed me to flex my brain while constructing awesome things, like <a class="text-light" href="https://deckme.me/">this</a>. </p>
        </div>
    </div>
    <div class="f-row responsive">
        <div class="f-col-1">
            <h2>Life</h2>
            <p>I'm a massive fan of Yu-Gi-Oh! and Magic, The Gathering. That's probably the true underlying reason behind my career, I need money to pay for my addiction to them. Other than cards, games, and software related things, I love hiking and being around my family. They've been a huge supporter of me and I couldn't thank them enough. </p>
        </div>
        <div class="f-col-1">
            <h2>Dwayne</h2>
            <p class="italy">“Think back 5 years ago. Think of where you’re at today. Think ahead 5 years and what you want to accomplish. Be Unstoppable.”</p>
            <p>The guy's my role model.</p>
        </div>
    </div>
</div>