@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="f-row responsive">
        <div class="f-col-1">
            <h2>A brief history</h2>
        </div>
    </div>
    <div class="f-row responsive">
        <div class="f-col-1">
            <h2>Games</h2>
        </div>
        <div class="f-col-1">
            <h2>Web</h2>
        </div>
    </div>
    <div class="f-row responsive">
        <div class="f-col-1">
            <h2>Life</h2>
        </div>
        <div class="f-col-1">
            <h2>Dwayne</h2>
        </div>
    </div>
</div>